@charset "UTF-8";
/* CSS Document */

html, html * {
	box-sizing: content-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial, " sans-serif";
	color: black;
    text-align: center;
}

header {
	font-size: 50px;
	max-width: 270px;
	margin:auto;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 10px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 350;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

img {
	width: 150px;
	height: auto;
	box-shadow: 4px 4px 10px;
	float: right;
	margin-right: 20%
}

ol {
    padding-left: 0px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav{ 
	display:inline-block;
    background-color: #333;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 2%;
	margin-top: 20px;
}

nav a {
	color: white;
	padding: 20px;
	text-decoration: none;
}
nav a:hover {
    background-color: #111;
	padding-top: 20px;
	padding-bottom: 20px;
	padding: 20px
}

ol li{
	font-weight: bold;
	display: inline-table;
	text-align: center;
	
}

#background{
	background-image: url("texture.jpg");
}

.corps{
	display: inline-block;
	margin: auto;
	margin-top:0;
	max-width: 25%
}

.expe{
	margin: auto;
	padding: 3%;
}

.Progress-Bar{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 300px;	
	border: 1px solid #000;
}

.Progress{
	height:24px;
	color: white;
	text-align: center;
	background-color:#686464;
}
.Home{
	text-align: center;
}
.formation{	
	margin: auto;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: black;
}

.underline{
	text-decoration: underline;
	text-decoration-color: black;
}

.flex-container{
	display: flex;
	float: left;
	justify-content: center;
	margin-top: 5%;
}

.moto{
	font-style: italic;
	max-width: 400px;
	margin-left:34%
}
